<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Your Profile</h1>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="edit">
        {{form.hidden_tag()}}
    <!--
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="nickname">Your nickname:</label>
            <div class="controls">
                {{ form.nickname(maxlength = 64, class = "span4") }}
                {% for error in form.errors.nickname %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="email">Your nickname:</label>
            <div class="controls">
                {{ form.email(maxlength = 120, class = "span4") }}
                {% for error in form.errors.email %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
    -->
        <h4>Contact Info</h4>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="street">Street:</label>
            <div class="controls">
                {{ form.street(maxlength = 140, class = "span4") }}
                {% for error in form.errors.street %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="number">Number:</label>
            <div class="controls">
                {{ form.number(maxlength = 140, class = "span4") }}
                {% for error in form.errors.number %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="postcode">Postal Code:</label>
            <div class="controls">
                {{ form.postcode(maxlength = 140, class = "span4") }}
                {% for error in form.errors.postcode %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="city">City:</label>
            <div class="controls">
                {{ form.city(maxlength = 140, class = "span4") }}
                {% for error in form.errors.city %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="country">Country:</label>
            <div class="controls">
                {{ form.country(maxlength = 140, class = "span4") }}
                {% for error in form.errors.country %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <h4>Phone</h4>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="phone">Phone:</label>
            <div class="controls">
                {{ form.phone(maxlength = 140, class = "span4") }}
                {% for error in form.errors.phone %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="phone_2">Secondary phone (emergency):</label>
            <div class="controls">
                {{ form.phone_2(maxlength = 140, class = "span4") }}
                {% for error in form.errors.phone_2 %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <h4>Bank info</h4>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="bank_IBAN">IBAN:</label>
            <div class="controls">
                {{ form.bank_IBAN(maxlength = 140, class = "span4") }}
                {% for error in form.errors.bank_IBAN %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="bank_BIC">BIC:</label>
            <div class="controls">
                {{ form.bank_BIC(maxlength = 140, class = "span4") }}
                {% for error in form.errors.bank_BIC %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Save Changes">
            </div>
        </div>
    </form>
</div>
</form>
{% endblock %}
